ion-icon {
    background-color: #fff;
    color: #32B72F;
    font-size: 20px;
}

img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.bebidas1 img,
.bebidas2 img,
.bebidas3 img {
    width: 90px;
}

a {
    text-decoration: none;
}

.top-bar {
    background-color: #cf2b2b;
    height: 92px;
    width: 100%;
    padding-left: 21px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 1;
}

.top-bar h4 {
    font-family: 'righteous', cursive;
    font-size: 44px;
    font-weight: 400;
    line-height: 54px;
    color: #ffffff;

}

.top-bar h5 {
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
}

.section-title {
    margin-top: 123px;
    margin-left: 19px;
    margin-bottom: 17px;
    font-family: 'righteous', cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #333333;
}

.pratos {
    height: 240px;
    display: flex;
    align-items: center;
    overflow: scroll;
}

.pratos-sobremesas {
    height: 240px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    margin-bottom: 108px;
}

.comidas1,
.comidas2,
.comidas3 {
    background-color: #ffffff;
    height: 216px;
    width: 172px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.671);
    margin-left: 19px;
    padding: 10px;
    box-sizing: border-box;
}

.comidas img {
    border-radius: 4px;
}

.bebidas1,
.bebidas2,
.bebidas3,
.sobremesas1,
.sobremesas2,
.sobremesas3 {
    background-color: #ffffff;
    height: 216px;
    width: 172px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.671);
    margin-left: 19px;
    padding: 10px;
    box-sizing: border-box;
}

.bebidas-e-sobremesas img {
    border-radius: 4px;
}

.bebidas-e-sobremesas div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1,
h2,
h3 {
    font-family: 'roboto';
}

h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

h2 {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    display: flex;
    justify-content: space-between;
}

.inside {
    height: 100px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
}

.section-titles {
    margin-top: 27px;
    margin-left: 19px;
    margin-bottom: 17px;
    font-family: 'righteous', cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #333333;
}

.bottom-bar {
    background-color: #ffffff;
    height: 92px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.finishing {
    background-color: #CBCBCB;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;
    width: 364px;
    height: 61px;
    border: none;
}

button {
    height: 100%;
    border: none;
    border-radius: 9px;
}

.chosen1,
.chosen2,
.chosen3 {
    border: 4px #32B72F solid;
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.order {
    background-color: #32B72F;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;
    width: 364px;
    height: 61px;
    border: none;
}